<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Facilities</h2>
                    <h3 class="section-subheading text-muted"><br></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                                              <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Informatics lab</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">50 desktop computers equipped with LTS Ubuntu and major bioinformatics tools for laboratory activities.</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Superdome Flex</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">224 CPU cores Intel(R) Xeon(R) Platinum 8280 CPU @ 2.70GHz, 1.5 TB RAM, 150TB storage, 1 GPU NVIDIA Tesla V100.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Server cluster</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      Cluster of 7 CPU servers and 1 GPU unit including a total of 400 CPU cores, 4 TB RAM, 600TB storage, 6 GPU NVIDIA. Hosted at Biogem - Molecular Biology and Genetics Research Institute in Ariano Irpino (AV).
                                      </p>

                                </div>

                            </div>
                        </li>
                   <!--
                   <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </section>
