            <div class="row">
                <div class="col-lg-12 text-center">
                    <h5 class="section-subheading text-muted">Ongoing collaborations</h5>
                </div>
            </div>

 <aside class="clients">
        <div class="container">
   <div class="d-flex justify-content-center">
            <div class="row mx-auto justify-content-center">
                <div class="col-md-1 col-sm-1 text-center">
                    <a href="#">
                    </a>
                </div>
                <div class="col-md-1 col-sm-1 text-center">
                    <a href="#">
                    </a>
                </div>
                <div class="col-md-1 col-sm-1 text-center">
                    <a href="https://www.unina.it">
                        <img src="img/logos/unina.jpg" class="img-responsive img-centered" alt=""
                        title="Università Federico II di Napoli, Naples, Italy">
                    </a>
                </div>
                <div class="col-md-1 col-sm-1 text-center">
                    <a href="https://www.uef.fi/en/unit/institute-of-biomedicine">
                        <img src="img/logos/uef.jpg" class="img-responsive img-centered" alt=""
                        title="Institute of Biomedicine, School of Medicine, Faculty of Health Sciences, University of Eastern Finland, Kuopio, Finland">
                    </a>
                </div>
                <div class="col-md-1 col-sm-1 text-center">
                    <a href="https://www.tigem.it">
                        <img src="img/logos/tigem.png" class="img-responsive img-centered" alt=""
                        title="Telethon Institute of Genetics and Medicine, Pozzuoli (NA), Italy">
                    </a>
                </div>
                <div class="col-md-1 col-sm-1 text-center">
                    <a href="https://www.mpikg.mpg.de">
                        <img src="img/logos/planck.png" class="img-responsive img-centered" alt=""
                        title="Max Planck Institute of Colloids and Interfaces, Postdam, Germany">
                    </a>
                </div>
                <div class="col-md-1 col-sm-1 text-center">
                    <a href="https://www.publichealth.med.miami.edu">
                        <img src="img/logos/miami.png" class="img-responsive img-centered" alt=""
                        title="Miller School of Medicine, Dpt. of Public Health Sciences, University of Miami, FL, USA">
                    </a>
                </div>
                <div class="col-md-1 col-sm-1 text-center">
                    <a href="https://cemse.kaust.edu.sa/sfb">
                        <img src="img/logos/kaust.png" class="img-responsive img-centered" alt=""
                        title="Structural and Functional Bioinformatics Group, King Abdullah University of Science and Technology, Thuwal, Saudi Arabia">
                    </a>
                </div>
                <div class="col-md-1 col-sm-1 text-center">
                    <a href="">
                        <img src="img/logos/iit.png" class="img-responsive img-centered" alt=""
                        title="Italian Institute of Technology, Italy">
                    </a>
                </div>
                <div class="col-md-1 col-sm-1 text-center">
                    <a href="https://www.cipf.es/science/research/metabolic-disorders/obesity-diabetes-and-comorbidities">
                        <img src="img/logos/cipf.png" class="img-responsive img-centered" alt=""
                        title="Obesity, diabetes and comorbidities lab, Valencia Biomedical Research Foundation, Centro de Investigacion Principe Felipe">
                    </a>
                </div>
                <div class="col-md-1 col-sm-1 text-center">
                    <a href="https://www.tvplab-cambridge.com">
                        <img src="img/logos/cambridge.jpg" class="img-responsive img-centered" alt=""
                        title="TVP Lab, Institute of Metabolic Science-Metabolic Research Laboratories, University of Cambridge, Cambridge, UK">
                    </a>
                </div>
                <div class="col-md-1 col-sm-1 text-center">
                    <a href="#">
                    </a>
                </div>
            </div>
        </div>
        </div>
    </aside>
