<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">News and Publications</h2>
                <h3 class="section-subheading text-muted"><br></h3>
            </div>
        </div>
        <div class="row">
<!-- Sort posts by date in reverse chronological order -->
{% assign sorted_posts = site.posts | sort: 'date' | reverse %}

<!-- Separate pinned and unpinned posts -->
{% assign pinned_posts = sorted_posts | where_exp: "post", "post.pinned == true" %}
{% assign unpinned_posts = sorted_posts | where_exp: "post", "post.pinned != true" %}

<!-- Merge pinned and unpinned posts -->
{% assign posts = pinned_posts | concat: unpinned_posts %}

          {% for post in posts %}
            <div class="col-md-4 col-sm-6 portfolio-item">
              {% if post.modal == true %}
                <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                  <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                          <i class="fa fa-plus fa-3x"></i>
                      </div>
                  </div>
                  <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                </a>
              {% else %}
                <a href="{{ post.link }}" class="portfolio-link" target="_blank">
                  <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                          <i class="fa fa-external-link fa-3x"></i>
                      </div>
                  </div>
                  <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                </a>
              {% endif %}
                <div class="portfolio-caption">
                  <p class="text-muted">
                    {% if post.pinned %}
                      <i class="fa fa-thumb-tack"></i> <!-- Pinned Post Icon -->
                    {% endif %}
                    {% if post.layout == "publication" %}
                      <i class="fa fa-book"></i> <!-- Publication Post Icon -->
                      {{ post.date | date_to_string }}
                    </p>
                    <h5><i>"{{ post.title }}"</i>, in <strong style="font-weight: 700 !important;">{{ post.journal }}</strong></h5>
                    {% elsif post.layout == "news" %}
                      <i class="fa fa-newspaper-o"></i> <!-- News Post Icon -->
                      {{ post.date | date_to_string }}
                    </p>
                    <h5>{{ post.title }}</h5>
                    <!-- <p>{{ post.description }}</p> -->
                    {% endif %}
                    {% unless post.modal %}
                      <p>{{ post.description }}</p>
                    {% endunless %}
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
</section>
