<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted"><br></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <img src="img/areas/sysbio.png" class="img-responsive" alt="">
                    </span>
                    <h4 class="service-heading">Systems Biology</h4>
                    <p class="text-muted">Exploring biological data to uncover complex molecular mechanisms</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <img src="img/areas/ai.png" class="img-responsive" alt="">
                    </span>
                    <h4 class="service-heading">AI-driven omics data analysis</h4>
                    <p class="text-muted">Leveraging Artificial Intelligence to make biological predictions from omics data.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <img src="img/areas/compdd.png" class="img-responsive" alt="">
                    </span>
                    <h4 class="service-heading">Computational Drug Discovery</h4>
                    <p class="text-muted">Indentifying small molecules for clinical and laboratory applications.</p>
                </div>
            </div>
        </div>
    </section>
